{% extends "layout.njk" %}
{% block head %}
    <title>Portfolio - Lucas Gonçalves</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}
{% block content %}
<div id="wrapper">
    <h1>
        Aulas
    </h1>
</div>
<section class="cards">
    <div class="card" id="mapas-com-react-usando-leaflet">
        <div class="card__image-container">
            <img src="https://blog.rocketseat.com.br/content/images/2020/11/blog-thumb-utilizando-mapas-no-react-com-leaflet-1.jpg">
        </div>
        <div class="card__content">
            <p>Mapas com React usando Leaflet! Um app incrível! Vem ver!</p>
        </div>
        <div class="card__info">
            <p>37 min</p>
            <p class="card__price">React com Leaflet</p>
        </div>
    </div>
    <div class="card" id="construindo-um-app-com-mapas-usando-react-native-maps-e-mapbox">
        <div class="card__image-container">
            <img src="https://blog.rocketseat.com.br/content/images/2020/10/teste.jpg">
        </div>
        <div class="card__content">
            <p>Construindo App com Mapa usando React Native Maps e MapBox</p>
        </div>
        <div class="card__info">
            <p>57 min</p>
            <p class="card__price">React Native</p>
        </div>
    </div>
    <div class="card" id="dark-mode-com-css-mudando-a-aparencia-do-blog-de-maneira-simples-e-rapida">
        <div class="card__image-container">
            <img src="https://blog.rocketseat.com.br/content/images/2020/10/dark-mode-com-css-mudando-a-aparencia-do-blog-de-maneira-simples-e-rapida.jpg">
        </div>
        <div class="card__content">
            <p>Dark Mode com CSS — mudando a aparência do Blog de maneira simples e rápida</p>
        </div>
        <div class="card__info">
            <p>57 min</p>
            <p class="card__price">CSS e HTML</p>
        </div>
    </div>
</section>
<div class="modal-overlay">
    <div class="modal">
        <a class="fullscreen-modal">
            <i class="material-icons">fullscreen</i>
        </a>
        <a class="close-modal">
            <i class="material-icons">close</i>
        </a>
        <div
            class="modal-content">
            <!--Blog Aqui-->
            <iframe src="" frameborder="0"></iframe>
        </div>
    </div>
</div>
<script src="scripts.js"></script>
{% endblock %}
{% block footer %}
{% endblock %}